@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display&family=Roboto:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: url(../img/bg.jpg) no-repeat center/cover; }

#header {
  width: 100%;
  height: 80px;
  position: relative; }
  #header .fa-bars {
    position: absolute;
    left: 50px;
    bottom: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer; }
  #header .fa-user {
    position: absolute;
    right: 50px;
    bottom: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer; }

#visual {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #visual h1 {
    font: bold 80px/1 'Playfair Display';
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px; }
  #visual h2 {
    font: normal 24px/1 'Playfair Display';
    color: rgba(255, 255, 255, 0.1); }

main {
  width: 100%;
  padding: 0 30px; }
  main section {
    width: 100%; }
    main section::after {
      content: '';
      display: block;
      clear: both; }
    main section .item-sizer {
      width: 16.666%;
      height: 0;
      opacity: 0; }
    main section .item {
      float: left;
      width: 16.666%;
      height: 40vh;
      padding: 5px; }
      main section .item:nth-of-type(2) {
        height: 80vh; }
        main section .item:nth-of-type(2) .inner img {
          height: 70%;
          left: 0;
          bottom: 0; }
        main section .item:nth-of-type(2) .inner h1 {
          font-size: 30px; }
      main section .item:nth-of-type(3) {
        width: 33.333%; }
        main section .item:nth-of-type(3) .inner {
          text-align: right;
          background: #555; }
          main section .item:nth-of-type(3) .inner img {
            top: 0;
            left: 0;
            opacity: 0.6; }
          main section .item:nth-of-type(3) .inner h1 {
            color: #fff; }
      main section .item:nth-of-type(4) .inner {
        background: #36a4ff; }
      main section .item:nth-of-type(6) {
        width: 49.999%; }
        main section .item:nth-of-type(6) .inner {
          background: #1d1db3; }
          main section .item:nth-of-type(6) .inner p {
            font: 400 20px/1.8 'Roboto';
            letter-spacing: 2px;
            color: #bbb;
            opacity: 0.8;
            margin-bottom: 50px; }
            main section .item:nth-of-type(6) .inner p span {
              font-weight: 500;
              font-size: 22px;
              color: #fff; }
          main section .item:nth-of-type(6) .inner i {
            display: block;
            font-size: 40px;
            color: #36a4ff;
            margin-bottom: 10px; }
          main section .item:nth-of-type(6) .inner em {
            font: 400 16px/1 "Playfair Display";
            color: #fff;
            opacity: 0.4; }
      main section .item:nth-of-type(7) {
        width: 33.333%; }
        main section .item:nth-of-type(7) .inner {
          padding-left: 50%;
          text-align: right;
          background: #fff; }
          main section .item:nth-of-type(7) .inner img {
            width: 50%;
            top: 0;
            left: 0;
            filter: grayscale(100%) brightness(1.2); }
      main section .item:nth-of-type(8) .inner {
        background: red; }
      main section .item:nth-of-type(10) {
        height: 80vh; }
        main section .item:nth-of-type(10) .inner {
          padding-top: 400px;
          background: linear-gradient(45deg, #104c64, #4393b3); }
          main section .item:nth-of-type(10) .inner img {
            top: 0;
            left: -20%;
            opacity: 0.8; }
          main section .item:nth-of-type(10) .inner h1 {
            font-size: 1.2vw;
            color: #fff; }
      main section .item:nth-of-type(11) {
        width: 33.333%; }
        main section .item:nth-of-type(11) .inner {
          text-align: left;
          padding-right: 50%;
          background: #a9f7a9; }
          main section .item:nth-of-type(11) .inner img {
            width: 50%;
            top: 0;
            right: 0;
            opacity: 0.8; }
          main section .item:nth-of-type(11) .inner h1 {
            color: darkblue; }
          main section .item:nth-of-type(11) .inner h1, main section .item:nth-of-type(11) .inner h2 {
            opacity: 0.8; }
      main section .item:nth-of-type(12) {
        width: 33.333%; }
        main section .item:nth-of-type(12) .inner {
          text-align: left;
          padding-right: 50%; }
          main section .item:nth-of-type(12) .inner img {
            width: 50%;
            top: 0;
            right: -40px;
            opacity: 0.7; }
      main section .item:nth-of-type(13) .inner {
        background: #f3c11d; }
      main section .item.quote .inner {
        position: relative; }
        main section .item.quote .inner h1 {
          font: normal 18px/1 'Roboto';
          color: #111;
          margin-bottom: 20px; }
        main section .item.quote .inner h2 {
          font: normal 23px/1.4 'Playfair Display';
          color: #fff; }
        main section .item.quote .inner .num {
          position: absolute;
          bottom: -70px;
          left: 50%;
          transform: translateX(-50%);
          font: bold 200px/1 'Roboto';
          color: #fff;
          opacity: 0.2; }
      main section .item.events {
        width: 33.333%; }
        main section .item.events .inner {
          text-align: left;
          background: #333; }
          main section .item.events .inner img {
            top: 0;
            left: 0;
            opacity: 0.4; }
          main section .item.events .inner h1 {
            font: 400 20px/1 'Roboto';
            color: #eee;
            letter-spacing: 5px; }
          main section .item.events .inner h2 {
            font: 600 28px/1.2 'Roboto';
            color: #fff;
            margin-bottom: 15px; }
          main section .item.events .inner p {
            font: 300 18px/1 'Playfair Display';
            color: #ddd;
            margin-bottom: 50px; }
          main section .item.events .inner a {
            display: block;
            width: 180px;
            height: 50px;
            border: 2px solid darkgoldenrod;
            border-radius: 25px;
            font: 500 16px/50px 'Roboto';
            color: #fff;
            text-align: center;
            letter-spacing: 2px; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        padding: 70px 50px;
        background: #eee;
        text-align: center;
        position: relative;
        overflow: hidden; }
        main section .item .inner img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute; }
        main section .item .inner h1, main section .item .inner h2, main section .item .inner p, main section .item .inner a {
          position: relative;
          z-index: 2; }
        main section .item .inner h1 {
          font: 600 40px/1.2 'Roboto';
          color: #111;
          letter-spacing: 1px;
          margin-bottom: 15px; }
        main section .item .inner p {
          font: bold 16px/1.6 'Parisienne';
          color: #888; }

#footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px; }
  #footer p {
    font: normal 12px/1 'Roboto';
    color: #fff;
    opacity: 0.3; }

@media screen and (max-width: 1500px) {
  main section .item .inner {
    padding: 50px 30px; } }
@media screen and (max-width: 1400px) {
  main section .item-sizer {
    width: 25%; }
  main section .item {
    width: 25%;
    height: 30vh; }
    main section .item:nth-of-type(2) {
      height: 60vh; }
    main section .item:nth-of-type(3) {
      width: 50%; }
    main section .item:nth-of-type(6) {
      width: 50%; }
      main section .item:nth-of-type(6) .inner p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 30px; }
        main section .item:nth-of-type(6) .inner p span {
          font-size: 18px; }
      main section .item:nth-of-type(6) .inner i {
        font-size: 26px;
        margin-bottom: 0; }
      main section .item:nth-of-type(6) .inner em {
        font-size: 14px; }
    main section .item:nth-of-type(7) {
      width: 50%; }
    main section .item:nth-of-type(10) {
      height: 60vh; }
      main section .item:nth-of-type(10) .inner {
        padding-top: 350px; }
        main section .item:nth-of-type(10) .inner h1 {
          font-size: 2vw; }
    main section .item:nth-of-type(11) {
      width: 50%;
      height: 60vh; }
      main section .item:nth-of-type(11) .inner {
        padding-top: 170px; }
        main section .item:nth-of-type(11) .inner img {
          width: 100%;
          height: 100%;
          top: auto;
          bottom: 0;
          right: -120px; }
        main section .item:nth-of-type(11) .inner h1 {
          font-size: 40px; }
        main section .item:nth-of-type(11) .inner p {
          font-size: 16px; }
    main section .item:nth-of-type(12) {
      width: 25%;
      height: 60vh; }
      main section .item:nth-of-type(12) .inner {
        padding-right: 30px;
        padding-top: 400px;
        text-align: right; }
        main section .item:nth-of-type(12) .inner img {
          width: 100%;
          right: 0; }
    main section .item.quote {
      height: 60vh; }
      main section .item.quote .inner {
        padding-top: 150px; }
    main section .item.events {
      width: 50%; }
      main section .item.events .inner h1 {
        font-weight: 200;
        font-size: 14px;
        margin-bottom: 10px; }
      main section .item.events .inner h2 {
        font-weight: 500;
        margin-bottom: 10px; }
      main section .item.events .inner p {
        font-size: 16px;
        margin-bottom: 30px; }
      main section .item.events .inner a {
        width: 160px;
        height: 40px;
        font-size: 14px;
        line-height: 40px; }
    main section .item .inner h1 {
      font-size: 30px; }
    main section .item .inner p {
      font-size: 14px;
      line-height: 1.4; } }

/*# sourceMappingURL=style.css.map */
