@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display&family=Roboto:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #111; }

#header {
  width: 100%;
  height: 150px; }

#visual {
  width: 100%;
  height: 300px; }

main {
  width: 100%;
  padding: 0 100px; }
  main section {
    width: 100%; }
    main section::after {
      content: '';
      display: block;
      clear: both; }
    main section .item-sizer {
      width: 16.666%;
      height: 0;
      opacity: 0; }
    main section .item {
      float: left;
      width: 16.666%;
      height: 40vh;
      padding: 5px; }
      main section .item:nth-of-type(2) {
        height: 80vh; }
      main section .item:nth-of-type(3) {
        width: 33.333%; }
        main section .item:nth-of-type(3) .inner {
          text-align: right; }
          main section .item:nth-of-type(3) .inner h1 {
            color: #fff; }
      main section .item:nth-of-type(5) {
        width: 33.333%; }
      main section .item:nth-of-type(6) {
        width: 49.999%; }
        main section .item:nth-of-type(6) .inner p {
          font: 300 20px/1.6 'Roboto';
          color: #eee; }
      main section .item:nth-of-type(7) {
        width: 33.333%; }
        main section .item:nth-of-type(7) .inner {
          padding-left: 50%;
          text-align: right; }
      main section .item:nth-of-type(9) {
        width: 33.333%; }
      main section .item:nth-of-type(10) {
        height: 80vh; }
        main section .item:nth-of-type(10) .inner {
          padding-top: 400px; }
          main section .item:nth-of-type(10) .inner h1 {
            font-size: 30px;
            color: #fff; }
      main section .item:nth-of-type(11) {
        width: 33.333%; }
        main section .item:nth-of-type(11) .inner {
          text-align: left;
          padding-right: 50%; }
          main section .item:nth-of-type(11) .inner h1 {
            color: darkblue; }
      main section .item:nth-of-type(12) {
        width: 33.333%; }
        main section .item:nth-of-type(12) .inner {
          text-align: left; }
      main section .item:nth-of-type(14) {
        width: 33.333%; }
      main section .item.quote .inner {
        position: relative;
        overflow: hidden; }
        main section .item.quote .inner h1 {
          font: normal 16px/1 'Roboto';
          color: #111;
          margin-bottom: 20px; }
        main section .item.quote .inner h2 {
          font: normal 23px/1.4 'Playfair Display';
          color: #fff; }
        main section .item.quote .inner .num {
          position: absolute;
          bottom: -80px;
          left: 50%;
          transform: translateX(-50%);
          font: bold 200px/1 'Roboto';
          color: #fff;
          opacity: 0.2; }
      main section .item.events .inner {
        text-align: left; }
        main section .item.events .inner h1 {
          font: 400 20px/1 'Roboto';
          color: #eee;
          letter-spacing: 5px; }
        main section .item.events .inner h2 {
          font: 600 28px/1.2 'Roboto';
          color: #fff;
          margin-bottom: 15px; }
        main section .item.events .inner p {
          font: 300 18px/1 'Roboto';
          color: #ddd;
          margin-bottom: 50px; }
        main section .item.events .inner a {
          display: block;
          width: 180px;
          height: 50px;
          border: 2px solid darkgoldenrod;
          border-radius: 25px;
          font: 500 16px/50px 'Roboto';
          color: #fff;
          text-align: center; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        padding: 70px 50px;
        background: #bbb;
        text-align: center; }
        main section .item .inner h1 {
          font: 600 30px/1.2 'Roboto';
          color: #111;
          letter-spacing: 1px;
          margin-bottom: 15px; }
        main section .item .inner p {
          font: bold 16px/1.6 'Parisienne';
          color: #888; }

#footer {
  width: 100%;
  height: 150px; }

/*# sourceMappingURL=style.css.map */
