@charset 'utf-8';
@import 'reset';


main{
    width: 100%;
    padding: 200px 50px;
    background: #111;

    section{
        width: 100%;
        height: 100%;

        &::after{
            content: '';
            display: block;
            clear: both;
        }
        .item-sizer{
            width: 16.666%;
            height: 0;
            opacity: 0;
        }
        .item{
            float: left;
            width: 16.666%;
            height: 40vh;
            padding: 5px;

            &:nth-of-type(2){
                height: 80vh;
            }
            &:nth-of-type(3){
                width: 33.333%;

                .inner{
                    text-align: right;

                    h1{
                        color: #fff;
                    }
                }
            }
            &:nth-of-type(5){
                width: 33.333%;
            }
            &:nth-of-type(6){
                width: 49.999%;
            }
            &:nth-of-type(7){
                width: 33.333%;

                .inner{
                    padding-left: 50%;
                    text-align: right;
                }
            }
            &:nth-of-type(9){
                width: 33.333%;
            }
            &:nth-of-type(10){
                height: 80vh;

                .inner{
                    padding-top: 400px;

                    h1{
                        font-size: 30px;
                        color: #fff;
                    }
                }
            }
            &:nth-of-type(11){
                width: 33.333%;

                .inner{
                    text-align: left;
                    padding-right: 50%;

                    h1{
                        color: darkblue;
                    }
                }
            }
            &:nth-of-type(12){
                width: 33.333%;

                .inner{
                    text-align: left;
                }
            }
            &:nth-of-type(14){
                width: 33.333%;
            }
            &.quote .inner{
                position: relative;
                overflow: hidden;

                h1{
                    font: normal 16px/1 'arial';
                    color: #111;
                    margin-bottom: 20px;
                }
                h2{
                    font: normal 26px/1.4 'arial';
                    color: #fff;
                }
                .num{
                    position: absolute;
                    bottom: -80px;
                    left: 50%;
                    transform: translateX(-50%);
                    font: bold 200px/1 'arial';
                    color: #fff;
                    opacity: 0.2;
                }
            }
            &.events .inner{
                text-align: left;

                h1{
                    font: normal 20px/1 'arial';
                    color: #eee;
                    letter-spacing: 5px;
                }
                h2{
                    font: bold 30px/1.2 'arial';
                    color: #fff;
                    margin-bottom: 15px;
                }
                p{
                    font: normal 18px/1 'arial';
                    color: #ddd;
                    margin-bottom: 50px;
                }
                a{
                    display: block;
                    width: 180px;
                    height: 50px;
                    border: 2px solid darkgoldenrod;
                    border-radius: 25px;
                    font: 16px/50px 'arial';
                    color: #fff;
                    text-align: center;
                }
            }
            .inner{
                width: 100%;
                height: 100%;
                padding: 70px 50px;
                background: #bbb;
                text-align: center;

                h1{
                    font: bold 36px/1.2 'arial';
                    color: #111;
                    margin-bottom: 20px;
                }
                p{
                    font: lighter 18px/1.6 'arial';
                    color: #888;
                }
            }
        }
    }
}