@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display&family=Roboto:wght@100;300;500&display=swap');
@import 'reset';

body{
    background: #000 url(../img/bg.jpg) no-repeat center/cover;
}

#header{
    width: 100%;
    height: 80px;
    position: relative;

    .fa-bars{
        position: absolute;
        left: 50px;
        bottom: 20px;
        font-size: 20px;
        color: #fff;
        opacity: 0.8;
        cursor: pointer;
    }
    .fa-user{
        position: absolute;
        right: 50px;
        bottom: 20px;
        font-size: 20px;
        color: #fff;
        opacity: 0.8;
        cursor: pointer;
    }
}

#visual{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font: bold 80px/1 'Playfair Display';
        color: rgba(255,255,255,0.2);
        margin-bottom: 20px;
    }
    h2{
        font: normal 24px/1 'Playfair Display';
        color: rgba(255,255,255,0.1);
    }
}

main{
    width: 100%;
    padding: 0 30px;

    section{
        width: 100%;

        &::after{
            content: '';
            display: block;
            clear: both;
        }
        .item-sizer{
            width: 16.666%;
            height: 0;
            opacity: 0;
        }
        .item{
            float: left;
            width: 16.666%;
            height: 40vh;
            padding: 5px;

            &:nth-of-type(2){
                height: 80vh;

                .inner{
                    img{
                        width: 100%;
                        left: 0;
                        bottom: -130px;
                    }
                    h1{
                        font-size: 30px;
                    }
                }
            }
            &:nth-of-type(3){
                width: 33.333%;

                .inner{
                    text-align: right;
                    background: #555;

                    img{
                        width: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0.6;
                    }
                    h1{
                        color: #fff;
                    }
                }
            }
            &:nth-of-type(4){
                .inner{
                    background: rgb(54, 164, 255);
                }
            }
            &:nth-of-type(6){
                width: 49.999%;

                .inner{
                    background: rgb(29, 29, 179);

                    p{
                        font: 400 20px/1.8 'Roboto';
                        letter-spacing: 2px;
                        color: #bbb;
                        opacity: 0.8;
                        margin-bottom: 50px;

                        span{
                            font-weight: 500;
                            font-size: 22px;
                            color: #fff;
                        }
                    }
                    i{
                        display: block;
                        font-size: 40px;
                        color: rgb(54, 164, 255);
                        margin-bottom: 10px;
                    }
                    em{
                        font: 400 16px/1'Playfair Display';
                        color: #fff;
                        opacity: 0.4;
                    }
                }
            }
            &:nth-of-type(7){
                width: 33.333%;

                .inner{
                    padding-left: 50%;
                    text-align: right;
                    background: #fff;

                    img{
                        width: 50%;
                        top:0;
                        left: 0;
                        filter: grayscale(100%) brightness(1.2);
                    }
                }
            }
            &:nth-of-type(8){
                .inner{
                    background: red;
                }
            }
            &:nth-of-type(10){
                height: 80vh;

                .inner{
                    padding-top: 400px;
                    background: linear-gradient(45deg, rgb(16, 76, 100), rgb(67, 147, 179));

                    img{
                        top: 0;
                        left: -200px;
                        opacity: 0.8;
                    }
                    h1{
                        font-size: 1.2vw;
                        color: #fff;
                    }
                }
            }
            &:nth-of-type(11){
                width: 33.333%;

                .inner{
                    text-align: left;
                    padding-right: 50%;
                    background: rgb(169, 247, 169);

                    img{
                        width: 50%;
                        top:0;
                        right: 0;
                        opacity: 0.8;
                    }
                    h1{
                        color: darkblue;
                    }
                    h1, h2{
                        opacity: 0.8;
                    }
                }
            }
            &:nth-of-type(12){
                width: 33.333%;

                .inner{
                    text-align: left;
                    padding-right: 50%;

                    img{
                        width: 50%;
                        top: 0;
                        right: -40px;
                        opacity: 0.7;
                    }
                }
            }
            &:nth-of-type(13){
                .inner{
                    background: rgb(243, 193, 29);
                }
            }
            &.quote{
                .inner{
                    position: relative;
    
                    h1{
                        font: normal 18px/1 'Roboto';
                        color: #111;
                        margin-bottom: 20px;
                    }
                    h2{
                        font: normal 23px/1.4 'Playfair Display';
                        color: #fff;
                    }
                    .num{
                        position: absolute;
                        bottom: -70px;
                        left: 50%;
                        transform: translateX(-50%);
                        font: bold 200px/1 'Roboto';
                        color: #fff;
                        opacity: 0.2;
                    }
                }
            }
            &.events{
                width: 33.333%;

                .inner{
                    text-align: left;
                    background: #333;
    
                    img{
                        width: 100%;
                        top:0;
                        left: 0;
                        opacity: 0.4;
                    }
                    h1{
                        font: 400 20px/1 'Roboto';
                        color: #eee;
                        letter-spacing: 5px;
                    }
                    h2{
                        font: 600 28px/1.2 'Roboto';
                        color: #fff;
                        margin-bottom: 15px;
                    }
                    p{
                        font: 300 18px/1 'Playfair Display';
                        color: #ddd;
                        margin-bottom: 50px;
                    }
                    a{
                        display: block;
                        width: 180px;
                        height: 50px;
                        border: 2px solid darkgoldenrod;
                        border-radius: 25px;
                        font: 500 16px/50px 'Roboto';
                        color: #fff;
                        text-align: center;
                        letter-spacing: 2px;
                    }
                }
            }
            .inner{
                width: 100%;
                height: 100%;
                padding: 70px 50px;
                background: #eee;
                text-align: center;
                position: relative;
                overflow: hidden;

                img{
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                }
                h1, h2, p, a{
                    position: relative;
                    z-index: 2;
                }
                h1{
                    font: 600 40px/1.2 'Roboto';
                    color: #111;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                }
                p{
                    font: bold 16px/1.6 'Parisienne';
                    color: #888;
                }
            }
        }
    }
}

#footer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;

    p{
        font: normal 12px/1 'Roboto';
        color: #fff;
        opacity: 0.3;
    }
}

@media screen and (max-width: 1500px){
    main section{
        .item .inner{
            padding: 50px 30px;
        }
    }
}

@media screen and (max-width: 1400px){
    main section{
        .item-sizer{
            width: 25%;
        }
        .item{
            width: 25%;
            height: 30vh;

            &:nth-of-type(2){
                height: 60vh;
            }
            &:nth-of-type(3){
                width: 50%;
            }
            &:nth-of-type(6){
                width: 50%;

                .inner{
                    p{
                        font-size: 16px;
                        line-height: 1.4;
                        margin-bottom: 30px;

                        span{
                            font-size: 18px;
                        }
                    }
                    i{
                        font-size: 26px;
                        margin-bottom: 0;
                    }
                    em{
                        font-size: 14px;
                    }
                }
            }
            &:nth-of-type(7){
                width: 50%;
            }
            &:nth-of-type(10){
                height: 60vh;

                .inner{
                    padding-top: 350px;

                    img{
                        left: -100px;
                    }
                    h1{
                        font-size: 2vw;
                    }
                }
            }
            &:nth-of-type(11){
                width: 50%;
                height: 60vh;

                .inner{
                    padding-top: 170px;

                    img{
                        width: auto;
                        height: 100%;
                        top: auto;
                        bottom: 0;
                        right: 0;
                    }
                    h1{
                        font-size: 40px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
            &:nth-of-type(12){
                width: 25%;
                height: 60vh;

                .inner{
                    padding-right: 30px;
                    padding-top: 400px;
                    text-align: right;

                    img{
                        width: 100%;
                        right: 0;
                    }
                }
            }
            &.quote{
                height: 60vh;

                .inner{
                    padding-top: 150px;
                }
            }
            &.events{
                width: 50%;

                .inner{
                    h1{
                        font-weight: 200;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    h2{
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                    a{
                        width: 160px;
                        height: 40px;
                        font-size: 14px;
                        line-height: 40px;
                    }
                }
            }
            .inner{
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 14px;
                    line-height: 1.4;
                }
            }
        }
    }
}

@media screen and (max-width: 980px){
    #visual{
        h1{
            font-size: 60px;
        }
        h2{
            font-size: 20px;
        }
    }
    main section{
        .item-sizer{
            width: 50%;
        }
        .item{
            width: 50%;

            &:nth-of-type(3){
                width: 50%;

                .inner{
                    h1{
                        font-size: 22px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
            &:nth-of-type(6){
                width: 100%;

                .inner{
                    p{
                        font-weight: 300;
                        line-height: 1.6;
                        margin-bottom: 40px;

                        span{
                            font-weight: 400;
                        }
                    }
                }
            }
            &:nth-of-type(7){
                .inner{
                    padding-left: 40%;

                    h1{
                        font-size: 18px;
                    }
                    p{
                        font-size: 10px;
                    }
                }
            }
            &:nth-of-type(10){
                height: 30vh;

                .inner{
                    text-align: right;
                    padding-top: 120px;

                    img{
                        width: 100%;
                        left: -70px;
                    }
                    h1{
                        font-size: 20px;
                    }
                }
            }
            &:nth-of-type(11){
                .inner{
                    padding-top: 350px;

                    img{
                        right: 0;
                        width: 100%;
                    }
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            &:nth-of-type(12){
                width: 50%;
            }
            &.events{
                width: 50%;

                .inner{
                    h1{
                        font-size: 12px;
                        letter-spacing: 2px;
                    }
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                    a{
                        width: 140px;
                        height: 30px;
                        font: 300 12px/27px 'Roboto';
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px){
    #header{
        .fa-bars{
            left: 20px;
        }
        .fa-user{
            right: 20px;
        }
    }
    #visual{
        height: 200px;

        h1{
            font-size: 40px;
            margin-bottom: 10px;
        }
        h2{
            font-size: 16px;
        }
    }
    main{
        padding: 0 20px;

        section{
            .item-sizer{
                width: 100%;
            }
            .item{
                width: 100%;

                &:nth-of-type(3){
                    width: 100%;
                }
                &:nth-of-type(6){
                    width: 100%;
                    height: 30vh;
    
                    .inner{
                        padding: 30px 20px;
    
                        p{
                            font-size: 14px;
                            line-height: 1.4;
                            margin-bottom: 30px;
    
                            span{
                                font-size: 15px;
                            }
                        }
                        i{
                            font-size: 22px;
                            margin-bottom: 0;
                        }
                        em{
                            font-size: 13px;
                        }
                    }
                }
                &:nth-of-type(7){
                    width: 100%;
                }
                &:nth-of-type(10){
                    .inner{
                        padding-top: 160px;

                        img{
                            width: 100%;
                            height: auto;
                            left: -80px;
                            top: -90px;
                        }
                    }
                }
                &:nth-of-type(11){
                    width: 100%;
                }
                &:nth-of-type(12){
                    width: 100%;
                }
                &.quote{
                    .inner h1{
                        margin-bottom: 10px;
                    }
                }
                &.events{
                    width: 100%;
                }
            }
        }
    }
}