@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display&family=Roboto:wght@100;300;500&display=swap');
@import 'reset';

body{
    background: #111;
}

#header{
    width: 100%;
    height: 150px;
}

#visual{
    width: 100%;
    height: 300px;
}

main{
    width: 100%;
    padding: 0 100px;

    section{
        width: 100%;

        &::after{
            content: '';
            display: block;
            clear: both;
        }
        .item-sizer{
            width: 16.666%;
            height: 0;
            opacity: 0;
        }
        .item{
            float: left;
            width: 16.666%;
            height: 40vh;
            padding: 5px;

            &:nth-of-type(2){
                height: 80vh;
            }
            &:nth-of-type(3){
                width: 33.333%;

                .inner{
                    text-align: right;

                    h1{
                        color: #fff;
                    }
                }
            }
            &:nth-of-type(5){
                width: 33.333%;
            }
            &:nth-of-type(6){
                width: 49.999%;

                .inner{
                    p{
                        font: 300 20px/1.6 'Roboto';
                        color: #eee;
                    }
                }
            }
            &:nth-of-type(7){
                width: 33.333%;

                .inner{
                    padding-left: 50%;
                    text-align: right;
                }
            }
            &:nth-of-type(9){
                width: 33.333%;
            }
            &:nth-of-type(10){
                height: 80vh;

                .inner{
                    padding-top: 400px;

                    h1{
                        font-size: 30px;
                        color: #fff;
                    }
                }
            }
            &:nth-of-type(11){
                width: 33.333%;

                .inner{
                    text-align: left;
                    padding-right: 50%;

                    h1{
                        color: darkblue;
                    }
                }
            }
            &:nth-of-type(12){
                width: 33.333%;

                .inner{
                    text-align: left;
                }
            }
            &:nth-of-type(14){
                width: 33.333%;
            }
            &.quote .inner{
                position: relative;
                overflow: hidden;

                h1{
                    font: normal 16px/1 'Roboto';
                    color: #111;
                    margin-bottom: 20px;
                }
                h2{
                    font: normal 23px/1.4 'Playfair Display';
                    color: #fff;
                }
                .num{
                    position: absolute;
                    bottom: -80px;
                    left: 50%;
                    transform: translateX(-50%);
                    font: bold 200px/1 'Roboto';
                    color: #fff;
                    opacity: 0.2;
                }
            }
            &.events .inner{
                text-align: left;

                h1{
                    font: 400 20px/1 'Roboto';
                    color: #eee;
                    letter-spacing: 5px;
                }
                h2{
                    font: 600 28px/1.2 'Roboto';
                    color: #fff;
                    margin-bottom: 15px;
                }
                p{
                    font: 300 18px/1 'Roboto';
                    color: #ddd;
                    margin-bottom: 50px;
                }
                a{
                    display: block;
                    width: 180px;
                    height: 50px;
                    border: 2px solid darkgoldenrod;
                    border-radius: 25px;
                    font: 500 16px/50px 'Roboto';
                    color: #fff;
                    text-align: center;
                }
            }
            .inner{
                width: 100%;
                height: 100%;
                padding: 70px 50px;
                background: #bbb;
                text-align: center;

                h1{
                    font: 600 30px/1.2 'Roboto';
                    color: #111;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                }
                p{
                    font: bold 16px/1.6 'Parisienne';
                    color: #888;
                }
            }
        }
    }
}

#footer{
    width: 100%;
    height: 150px;
}